{% extends "layout.html" %}
{% block content %}
<h4>회원탈퇴 페이지</h4>
<form method="post" action="/user/handleDelete">
    <div class="mb-3">
      <label for="exampleInputId" class="form-label">ID</label>
      <input type="text" class="form-control" 
      id="exampleInputId" name="userId">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" 
      id="exampleInputPassword1" name="userPw">
    </div>
    <button type="submit" class="btn btn-danger">회원탈퇴</button>
  </form>
{% endblock%}